
<!-- <ion-header>
  <ion-title>
    <ion-toolbar>

  Shona Kids Puzzle
  </ion-toolbar>
  </ion-title> 
</ion-header> -->

  <ion-content color="blue" class="ion-padding">
    

<ion-tabs>
   <!--<ion-textarea label="Create username" labelPlacement="floating" fill="outline" placeholder="Enter text"></ion-textarea>
  <ion-textarea label="Create Password" labelPlacement="floating" fill="outline" placeholder="Enter text"></ion-textarea>
  
  <ion-button size="large">LOGIN</ion-button> -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="about">
      <ion-icon aria-hidden="true" name="information-circle-outline"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dash" >
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" >
      <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>
