<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>sign-up</ion-title>
  </ion-toolbar>
</ion-header>

  <p class="create">Create Account</p>
    <p class="child">Guardian must assist the child in <br> creating the account</p>

  <div class="all">
 
    <ion-input label="Email or phone_number" label-placement="floating" fill="outline" placeholder="Enter text" class="username"></ion-input>
    <br>
  
    <ion-input label="Password" label-placement="floating" fill="outline" placeholder="Enter text" class="username"></ion-input>
    <br>
    <ion-input label="Username" label-placement="floating" fill="outline" placeholder="Enter text" class="username"></ion-input>
    <br>
  
    <ion-button expand="block" class="username">Create account</ion-button>
    
    <a class="link" routerLink="/login">Already have an account? Log in</a>
  

</div>
  


