
ion-card {
  --background:white;
  
}
.username {
  position: center;
align-content: center;
border-radius: 5px;
width: 300px; 
margin-left:30px;
}

.all {
  align-items: flex;
  margin-bottom: 350px;
  margin-bottom: 300px;
}

.child {
  text-align: center;
  font-size: 15px;
  font-weight: 100px;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.create {
  text-align: center;
  font-size: 25px;
  font: weight 1000px;
  padding-top: 50px;
}
.login {

text-align: center;
}

.log {
  margin-left: 90px;
}