<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>sign-up</ion-title>
  </ion-toolbar>
</ion-header> -->
<form [formGroup]="shonap" (ngSubmit)="onSubmit()">
<ion-content [fullscreen]="true" class="backround" >
  <p class="create">Create Account</p>
    <p class="child">Guardian must assist the child in <br> creating the account</p>

  <div class="all">
 
    <ion-input id="fullName" formControlName="fullName" label="Enter Guardian full name" label-placement="floating" fill="outline" class="username"></ion-input>
    <br>
  
    <ion-input id="password" formControlName="childName" label="Enter Child full name" label-placement="floating" fill="outline"  class="username"></ion-input>
    <br>
    <ion-input id="relationship"  formControlName="relationship" label="Select the relationship " label-placement="floating" fill="outline"  class="username"></ion-input>
    <br>

    <ion-input id="username"  formControlName="username" label="Username" label-placement="floating" fill="outline"  class="username"></ion-input>
    <br>

    <ion-input id="password"  formControlName="password"label="Password" label-placement="floating" fill="outline"  class="username"></ion-input>
    <br>
  
    <ion-button type="submit" expand="block" class="btn">Create account</ion-button>
    <div>
    <a  routerLink="/auth/login">Already have an account? Log in</a>
  </div>

</div>
</ion-content>
</form>
  