<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>sign-up</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sign in</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-input label="Email or phone_number" label-placement="floating" fill="outline" placeholder="Enter text" class="username"></ion-input>
      <br>
    
      <ion-input label="Password" label-placement="floating" fill="outline" placeholder="Enter text" class="username"></ion-input>
      <br>
      <ion-input label="Username" label-placement="floating" fill="outline" placeholder="Enter text" class="username"></ion-input>
      <br>
    <ion-button expand="block" class="username">CREATE</ion-button>

    
    
    </ion-card-content>
  

  </ion-card>
    


</ion-content>

  
  


