<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">about</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Shona Kids Learning Game</ion-card-title>
      
    </ion-card-header>
  
    <ion-card-content>
      <p>
        "About Shona Kids Learning Game

        Shona Kids Learning Game is a fun and interactive app designed to introduce children aged 2-5 to the beautiful Shona language. Our mission is to promote and preserve the Shona language and culture for future generations while supporting early childhood education.
        <br>
        The app features engaging activities like sliding picture puzzles and scrambled word games, all enhanced with high-quality voice speech by native Shona speakers. We believe in play-based learning and have designed the app to be both educational and enjoyable for young learners.
        
        We are committed to continuous improvement and plan to add more languages, stories, and features in future updates. Please contact us at [email protected] with any feedback or suggestions."
        <br>
        Remember to tailor the information to your specific app and target audience. Good luck!
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
