<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Play</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Play</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <p class="text">Level 1</p>

<ion-row class="ion-align-items-center">
  <ion-col size="12">
  <ion-img class="pic" [src]="myCurrentStage?.imageUrl"></ion-img>
    <h1 class="text-center" *ngIf="result">{{result}}</h1>
    <h1 class="text-center" *ngIf="!result">{{'- - -'}}</h1>
    
  </ion-col>
  <ion-col *ngFor="let item of myCurrentStage.itemArray;let i = index">
   
    <input type="radio" class="btn-check" [name]="item" [id]="'section-'+item" autocomplete="off" (click)="getValue(item, i)" [checked]="checkedValues[i].checked" >
    <label class="btn px-4 py-2 btn-outline-warning text-2xl" [for]="'section-'+item">{{item}}</label>

    
    

</ion-col>
    <!-- <ion-col *ngFor="this.itemArray.toLowerCase()===this.result.toLowerCase();">
    <h1 class="text-center" *ngIf="result === item">Success</h1>
    </ion-col> -->

<ion-col size="12">
  <ion-button  (click)="checkAnswer()" >Submit</ion-button>
</ion-col>


<p *ngIf="result">{{ result }}</p> 



  <ion-col size="12">
    <ion-button color="danger" (click)="clear()">
      Clear
    </ion-button>
  </ion-col>

</ion-row>
</ion-content>
    
