::ng-deep .play{
padding-top: 1px;
width: 350px;
height: 50px;
}

::ng-deep .levels{
    --margin-top: 10px;
    --margin-left: 70px;
   --background-color: #d60fd6;
}

::ng-deep .main{
    margin-top: 100px;
    width: 150px;
    margin-left: 85px;

}

::ng-deep .bar{
    width: 200px;
    height: 30px;
   background-color: rgb(228, 101, 5);
   margin-top: 30px;
    margin-left:100px;
    border-radius: 10px;
}

::ng-deep .all{
    --background: #c589be;
  --color: #0d0909;
  --border-radius: 10px;
}