<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>dash</ion-title>
</ion-toolbar>
</ion-header>
<ion-content>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">dash</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <ion-card-header>

   
      <ion-card-title>Level 1</ion-card-title>
      <ion-card-subtitle>Stages</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div *ngFor="let i of level1">
        <ion-button
        [class.unlocked]="currentStage >=i.stage" 
        expand="block" 
        [disabled]="i.stage>currentStage"
        [routerLink]="'/pages/play/'+1+'/'+i.stage"
        >
          Stage {{i.stage}}</ion-button>
          

      </div>
    </ion-card-content>
   </ion-card>

   <ion-card>
    <ion-card-header>
      <ion-card-title>Level 1
      </ion-card-title>
      <ion-card-subtitle>Stages</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div *ngFor="let i of level1">
        
        <div *ngIf="currentStage >=i.stage" class="unlocked">
      
    
        </div>
            <ion-button expand="block" [disabled]="true">Stage {{i.stage}}</ion-button> 
          </div>
        </ion-card-content>
      
   
   </ion-card>
  
 <ion-button expand="block" routerLink="/pages/play" class="play">PLAY</ion-button> 
  
</ion-content>
