<ion-header [translucent]="true">
  <ion-toolbar class="backgroundimg">
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="background-image">
    <h1>Lets Start</h1>
    <p>Click the button below to start</p>
    <ion-button color="warning">Play</ion-button>

    

  </ion-content>
</ion-content>
