<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>forgot-password</ion-title>
  </ion-toolbar>
</ion-header> -->


  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">forgot-password</ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-header [translucent]="true">
    
  </ion-header>
  
  <ion-content [fullscreen]="true" >
    <ion-header collapse="condense">
      <ion-toolbar>
        
  
      </ion-toolbar>
    </ion-header>
    
  
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title class="password">Password Reset </ion-card-title>
        

    <div >
    <ion-input label="New Password" label-placement="floating" fill="outline" placeholder="Enter text" class="username"></ion-input>
    <br>
  
  <ion-button expand="block" class="username">Reset</ion-button>
  </div>

  <a routerLink="/auth/login" class="code">Already have password? Login</a>
  
  </ion-card-header>
  </ion-card>
  </ion-content>
